//running on PBS so defined labels for allocation of resources

//container parameters; ensure these are OK for your system
//containers are defined per process below
process.container = "shub://brucemoran/nanopore_gDNA_CNA"

singularity {

  enabled = "true"
  autoMounts = "true"
  cacheDir = "/data/genome/singularity"
  runOptions = "--bind /data:/data"

}

params {

  //guppy parameters
  flowcell = "FLO-MIN106"
  kit = "SQK-LSK108"

  //to use a premade index, set to anything but null on command line
  mnmIndex = null

  //define fasta, gtf, cdna for hg38 human genome in Ensembl
  fa = false

  hg38fa = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"

  hg38gtf = "ftp://ftp.ensembl.org/pub/release-95/gtf/homo_sapiens/Homo_sapiens.GRCh38.95.gtf.gz"
  hg38cdna = "ftp://ftp.ensembl.org/pub/release-95/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
  hg38vcf = "ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b151_GRCh38p7/VCF/All_20180418.vcf.gz"


  //NB that task.memory causes some tools to fail, so using these predefs here
  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

}

process {

  //cache
  cache = 'lenient'

  //containers per process
  withName:index { container = "shub://brucemoran/Singularity:minimap2.centos7" }
  withName:guppy { container = "shub://brucemoran/Singularity:guppy.centos7" }
  withName:pycoqc { container = "shub://brucemoran/Singularity:guppy.centos7" }
  withName:minimap2 { container = "shub://brucemoran/Singularity:minimap2.centos7" }
  withName:nanostat { container = "shub://brucemoran/Singularity:nanostat.centos7" }
  withName:cnvnator { container = "shub://brucemoran/Singularity:cnvnator.ubuntu1804" }

  //labels for resource allocation
  withLabel: c40_120G_cpu_mem {
      cpus = 40
      memory = 120.GB
      executor = 'pbs'
      queue = 'batch'
  }
  withLabel: c20_60G_cpu_mem {
      cpus = 20
      memory = 60.GB
      executor = 'pbs'
      queue = 'batch'
  }
  withLabel: c10_30G_cpu_mem {
      cpus = 10
      memory = 30.GB
      executor = 'pbs'
      queue = 'batch'
  }
  withLabel: c8_24G_cpu_mem {
      cpus = 8
      memory = 24.GB
      executor = 'pbs'
      queue = 'batch'
  }
  withLabel: c5_15G_cpu_mem {
      cpus = 5
      memory = 15.GB
      executor = 'pbs'
      queue = 'batch'
  }
  withLabel: c2_6G_cpu_mem {
      cpus = 2
      memory = 6.GB
      executor = 'pbs'
      queue = 'batch'
  }
}
