/*
 * ------------------------------
 *  Nanopore Nextflow config file
 * ------------------------------
 * Default config options for all environments.
 */

params {

  container = 'library://bruce.moran/default/projects:nanopore_gdna_cdna'
  guppyConfig = 'dna_r9.4.1_450bps_fast.cfg'
  
}

profiles {
  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }
  genome {
    includeConfig 'conf/base.config'
  }
  conda { process.conda = "$baseDir/environment.yaml" }
  singularity { singularity.enabled = true }

}

process {

      container = 'library://bruce.moran/default/projects:nanopore_gdna_cdna'

}

timeline {
  enabled = true
  file = "pipeline_info/nanopore.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/nanopore.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/nanopore.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/nanopore.dag.svg"
}
