/*
 * -------------------------------------------
 *  Nextflow base config file for Nanopore Basecalling and More
 * -------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

params {

  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

  //guppy parameters
  flowcell = "FLO-MIN106"
  kit = "SQK-LSK108"

  //to use a premade index, set to path
  mnmIndex = null

  //define fasta, gtf, cdna for hg38 human genome in Ensembl
  fa = false

  hg38fa = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"

  hg38gtf = "ftp://ftp.ensembl.org/pub/release-95/gtf/homo_sapiens/Homo_sapiens.GRCh38.95.gtf.gz"
  hg38cdna = "ftp://ftp.ensembl.org/pub/release-95/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
  hg38vcf = "ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b151_GRCh38p7/VCF/All_20180418.vcf.gz"

}

process {

  container = params.container

}
